.register{
  height: 100vh;
  display: flex;
  background-color: #EBEFFF;
  position: relative;
  z-index: 0;
  color: #3B82F6;
  
  &__left{
    width: 50%;
    position: relative;
    z-index: 1000;

    img{
      width: 150%;
      object-fit: contain;
      position: absolute;
      bottom: 0%;
      right: 0%;
      transform: translate(30%, 50%) rotate(6deg);
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
  
  &__right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    @media (max-width: 768px) {
      width: 100%;
      position: absolute;
    }
  }

  &__form{
    width: 60%;
    display: flex;
    flex-direction: column;

    label, input{
      color: #646ED3;
      width: 100%;
      outline: none;
    }
    input{
      margin: 0.2em 0;
      padding: 0.3em 1em;
      border-radius: 30px;
      border: #646ED3 2px solid;
      font-size: 1rem;
      
    }
    input:focus{
      caret-color: #646ED3;
    }

    p{
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;

      a{
        font-weight: 700;
        color: #646ED3;
        text-decoration: none;
        margin-left: 3px;
      }
    }
  }

  &__title{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__blob-shape{
    position: absolute;
    min-width: 15rem;
    width: 50%;
    height: 75%;
    aspect-ratio: 2/3;
    background-color: #c8cbf2;
    transform: rotate(-6deg);
    top: -20%;
    left: 40%;
    border-radius: 0 0 2rem 2rem;
  }

  &__blob-shape::before{
    content: "";
    background-color: #AFB3FF;
    position: absolute;
    transform: rotate(6deg);
    top: 10%;
    left: 6%;
    width: 100%;
    height: 100%;
    border-radius: 0 0 2rem 2rem;
  }

  &__socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__icon{
    color: #646ED3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
  }
  input.register__submit{
    background-color: #646ED3;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
  }

  @media (max-width: 768px) {
    overflow-x: hidden;
    padding-top: 5rem;
  }
}